// Montserrat semi-bold (600)
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap';
    font-family: 'Montserrat', sans-serif;
}

// Montserrat bold (700)
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap';
    font-family: 'Montserrat', sans-serif;
}

// Montserrat medium (500)
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap';
    font-family: 'Montserrat', sans-serif;
}

// Poppins bold (700)
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap';
    font-family: 'Poppins', sans-serif;
}

// Poppins semi-bold (600)
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap';
    font-family: 'Poppins', sans-serif;
}

// Roboto bold (700)
@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap';
    font-family: 'Roboto', sans-serif;
}