@import './fonts';
@import './vars';
@import './media';
@import '../../node_modules/normalize.css/normalize';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    resize: none;
    text-decoration: none;
    outline: none;
}

body {
    @extend %montserrat-bold;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

.container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

.open-menu {
    width: 100% !important;
    padding: 10px 0;
}