@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    .header {
        &__nav {
            &-list {
                min-height: 100vh;
                position: absolute;
                right: 0;
                top: 0;
                flex-direction: column;
                background-color: #fff;
                overflow: hidden;
                transition: .3s;
                width: 0;
                &-item {
                    font-size: 15px;
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
                &-btn {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    border: none;
                    background-color: transparent;
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        background-color: #000;
                        width: 100%;
                        margin: auto 0;
                        height: 1px;
                    }
                    &::after {
                        transform: rotateZ(45deg);
                        left: 0;
                    }
                    &::before {
                        transform: rotateZ(-45deg);
                        right: 0;
                    }
                }
            }
            &-btn {
                width: 20px;
                height: 16px;
                background-image: url(../assets/burger-menu.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                cursor: pointer;
                border: none;
                background-color: transparent;
                display: block;
            }
        }
    }
    .title {
        background: #FAFAFA;
        height: auto;
        &__block-heading {
            h3 {
                color: #737373;
                font-size: 16px;
            }
            h1 {
                color: #252B42;
                font-size: 36px;
                margin: 17px 0;
            }
        }
        &__block-desc {
            color: #737373;
        }
        &__block-links {
            flex-direction: column;
            align-items: center;
            a {
                box-shadow: none;
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 17px;
                }
                &:last-child {
                    border: 1px solid #FA4A0C;
                    color: #FA4A0C;
                }
            }
        }
        &__app {
            position: relative;
            bottom: 0;
            display: block;
        }
    }
    .app {
        padding-top: 0;
        &__heading {
            font-size: 24px;
            &::before {
                display: none;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -50px;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 3px;
                background-color: #E4E4E4;
                width: 90%;
            }
        }
        &__list-block {
            flex-direction: column;
            &:nth-child(even) {
                flex-direction: column;
            }
            &:first-child {
                margin-top: 80px;
            }
            &-heading h2 {
                margin: 30px 0 40px;
            }
        }
    }
    .poster {
        background: #252B42;
    }
    .footer {
        &__list {
            flex-direction: column;
            justify-content: center;
            &-item-logo {
                display: none;
            }
            &-icons {
                margin-bottom: 8px;
                &-item:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .title {
        &__block-heading h1 {
            font-size: 24px;
        }
        &__block-desc {
            font-size: 16px;
        }
        &__block-link {
            width: 80%;
        }
    }
    .app {
        &__heading {
            font-size: 20px;
        }
        &__list-block-heading {
            h3 {
                font-size: 20px;
            }
            h2 {
                font-size: 27px;
            }
        }
        &__list-block-desc {
            font-size: 16px;
        }
    }
    .poster {
        &__heading {
            font-size: 25px;
        }
        &__desc {
            font-size: 16px;
        }
        &__links {
            flex-direction: column;
            align-items: center;
        }
        &__link {
            width: 80%;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}