%montserrat-semi-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

%montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

%poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%poppins-semi-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

%roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}