@import './global';
// header
.header {
    height: 156px;
    background-color: #fff;
    &__nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-btn,
        &-list-btn {
            display: none;
        }
        &-list {
            display: flex;
            align-items: center;
            &-item {
                @extend %montserrat-semi-bold;
                &:not(:last-child) {
                    margin-right: 104px;
                }
                a {
                    color: #252B42;
                    transition: .4s;
                    &:hover {
                        color: #FA4A0C;
                    }
                }
            }
        }
    }
}

// title
.title {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/title-bg.svg);
    background-attachment: fixed;
    height: 619px;
    padding-top: 73px;
    color: #fff;
    position: relative;
    &__block {
        max-width: 1005px;
        margin: 0 auto;
        text-align: center;
        &-heading {
            h3 {
                font-size: 24px;
                letter-spacing: .1px;
            }
            h1 {
                margin: 7px 0;
                font-size: 58px;
                letter-spacing: .2px;
                @extend %poppins-bold;
            }
        }
        &-desc {
            font-size: 24px;
            margin-bottom: 54px;
            opacity: .9;
            @extend %montserrat-medium;
        }
        &-links {
            display: flex;
            justify-content: center;
        }
        &-link {
            border: none;
            color: #fff;
            width: 236px;
            height: 68px;
            font-size: 24px;
            border-radius: 30px;
            box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:last-child) {
                margin-right: 34px;
            }
            &:first-child {
                background-color: #FA4A0C;
            }
            &:last-child {
                border: 1px solid #fff;
                background-color: transparent;
            }
        }
    }
    &__app {
        position: absolute;
        bottom: -600px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.app {
    padding-top: 600px;
    &__heading {
        position: relative;
        text-align: center;
        padding-top: 72px;
        font-size: 44px;
        letter-spacing: .1px;
        @extend %poppins-semi-bold;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 3px;
            background-color: #E4E4E4;
            width: 90%;
        }
    }
    &__list-instruction {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(800px, auto);
    }
    &__list-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child {
            margin-top: 59px;
        }
        &-img:nth-child(even) {
            order: 1;
        }
        &-text {
            max-width: 568px;
            display: flex;
            flex-direction: column;
        }
        &-heading {
            display: flex;
            flex-direction: column;
            h3 {
                color: #FA4A0C;
                font-size: 24px;
                letter-spacing: .1px;
            }
            h2 {
                font-size: 40px;
                letter-spacing: .2px;
                margin: 7px 0 17px;
            }
        }
        &-desc {
            @extend %montserrat-medium;
            font-size: 24px;
            color: #737373;
        }
    }
}

.poster {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/poster-bg.svg);
    min-height: 509px;
    padding: 130px 0 20px;
    color: #fff;
    &__block {
        text-align: center;
        max-width: 860px;
        margin: 0 auto;
    }
    &__heading {
        font-size: 40px;
        letter-spacing: 0.2px;
    }
    &__desc {
        @extend %montserrat-medium;
        margin: 10px 0 60px;
        letter-spacing: 0.2px;
        font-size: 24px;
        opacity: .9;
    }
    &__links {
        display: flex;
        justify-content: center;
    }
    &__link {
        border: none;
        color: #fff;
        font-size: 24px;
        border-radius: 10px;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        &:not(:last-child) {
            margin-right: 16px;
        }
        &:first-child {
            width: 142px;
            height: 64px;
            background-color: #FA4A0C;
        }
        &:last-child {
            width: 173px;
            height: 60px;
            border: 1px solid #fff;
            background-color: transparent;
        }
    }
}

.footer {
    padding: 38px 0 53px;
    background-color: #fff;
    min-height: 250px;
    &__list {
        display: flex;
        justify-content: space-between;
        height: 100%;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-icons {
            display: flex;
            align-items: center;
            &-item:not(:last-child) {
                margin-right: 27px;
            }
        }
        &-copyright {
            font-size: 12px;
            @extend %roboto-bold;
            letter-spacing: .1px;
            color: #5C5C5C;
        }
    }
}

@import './media';